@using TallerTechnologies.Domain.Models
@model CarViewModel
@{
    ViewData["Title"] = "Add car details";
    Layout = "~/Views/Shared/_CarSaveLayout.cshtml";
}

@section sectionFooter
    {
    <div>
        <dl class="row">
            <dd class="col">
                <button type="submit" class="btn btn-primary w-50" asp-controller="Car" asp-action="Save" formmethod="post">Save</button>
            </dd>
            <dd class="col">
                <button type="submit" class="btn btn-secondary w-50" asp-controller="Car" asp-action="Index" formmethod="post">Cancel</button>
            </dd>
        </dl>
    </div>
}
