@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application was made by <a href="https://www.linkedin.com/in/juliopanderi/" target="_blank" rel="noopener noreferrer">Julio C. Panderi</a> just for evaluation purposes.</p>
